* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1400px;
    margin: 0 auto;
}

.admin {
    width: 100%;
    background-color: rgb(194, 194, 194);
    text-align: center;
    padding: 20px;
    margin-bottom: 30px;
}

.menu {
    margin-bottom: 30px;
}

.menu>ul {
    background-color: black;
    width: 100%;
    padding: 10px 100px;
}

.menu>ul>li {
    display: inline-block;

}

.menu a {
    margin: 0 20px;
    text-decoration: none;
    color: white;
}

.menu a:hover {
    color: red;
    text-decoration: underline;
}

main>.title {
    text-align: center;
    margin-bottom: 10px;
}

label {
    font-size: 17px;
    margin-left: 110px;
    margin-bottom: 10px;
}

form {
    border: 1px solid none;
    border-radius: 5px;
    width: 800px;
    margin: 0 auto;
    background-color: rgb(223, 223, 223);
    padding: 20px;
    margin-bottom: 50px;
}

form>.ip {
    margin: 20px;
}

form>.ip>input {
    width: 500px;
    height: 30px;
    border-radius: 3px;
    margin-left: 110px;
}
form>.bt{
    margin-left: 140px;
}
form>.bt input{
    width: 150px;
    margin-top: 30px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    background-color: black;
    color: white;
    margin-right: 10px;
}